@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep only custom styles below */

.button-primary {
  @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-150 ease-in-out;
}

.gradient-blue {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.gradient-purple {
  background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}

.gradient-green {
  background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
}

.gradient-gray {
  background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}

.gradient-black {
  background: linear-gradient(to right, #434343 0%, black 100%);
}

.gradient-yellow {
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.gradient-red {
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.gradient-orange {
  background: linear-gradient(to right, #fbab7e 0%, #f7ce68 100%);
}


/* Custom styles for disabled state */
.button-disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #ccc; /* Or a specific color for disabled buttons */
  color: #666;
}
